.productcard{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 200px;
    border-radius: 20px;
    height: 350px;
    border: solid #3A4750 1px;
}



.productcard img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    
}

.productcard:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: #2185D5 0px 10px 20px;
}



